@import url("https://use.typekit.net/ljf0uzg.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: var(--purple-zen);
  background-color: #FFFCF4;
}

h1, h2, h3, h4{
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 24px;
  margin-bottom: 1rem; 
}
h3{
  font-size: 1.1rem;
}

main{
  flex: 1;
}

:root{
  --purple-zen: #6169BC;
  --red-angry: #E53833;
  --purple-disgust: #7D3C99;
  --blue-sad: #417ABD;
  --blue-surprise: #85EDE3;
  --green-fear: #5BC491;
  --green-trust: #CEFFAE;
  --yellow-joy: #FCED23;
  --orange-anticipation: #F97F12;
}

.bg-zen{
  background-color: var(--purple-zen);
}
.bg-light-green{
  background-color: #D9FFCE99;
}
.bg-yellow{
  background-color: #FEF6A0;
}

.btn{
  display: flex;
  justify-content: center;
  background-color: #9753B8;
  color: white;
  width: fit-content;
  border-radius: 1rem;
  padding: 1rem 1rem;
}

.footer-curve{
  background: url('../../public/graphics/curve-green.svg');
  background-size: contain;
}
.graphic-button img{
  width: 50%;
}

figcaption{
  padding: 1rem 0;
}

em, cite{
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 640px) {
  .anticipation, .disgust{
    right: -3rem;
  }
  .anticipation, .trust{
    bottom: -2rem;
  }
  .disgust, .surprise{
    top: -2rem;
  }
  .trust, .surprise{
    left: -3rem;
  }
}



@media (min-width: 1024px) {
  body{
    font-size: 30px;
  }
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 32px;
  }
  .graphic-button{
    border-radius: 150px;
    width: 350px;
    height: 360px;
  }


  /* Faces arrangement */
  .anticipation, .disgust{
    right: -6rem;
  }
  .anticipation, .trust{
    bottom: -4rem;
  }
  .disgust, .surprise{
    top: -4rem;
  }
  .trust, .surprise{
    left: -6rem;
  }
  
}