@import url("https://use.typekit.net/ljf0uzg.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  font-family: "poppins", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4{
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button-face{
  max-width: 6rem;
}

h2{
  margin-bottom: 1rem;
}

main{
  flex: 1;
}

:root{
  --purple-zen: #6169BC;
  --red-angry: #E53833;
  --purple-disgust: #7D3C99;
  --blue-sad: #417ABD;
  --blue-surprise: #85EDE3;
  --green-fear: #5BC491;
  --green-trust: #CEFFAE;
  --yellow-joy: #FCED23;
  --orange-anticipation: #F97F12;
}

.red

.bg-zen{
  background-color: var(--purple-zen);
}
.bg-red{
  background-color: var(--red-angry);
}
.bg-purple{
  background-color: var(--purple-disgust);
}
.bg-blue{
  background-color: var(--blue-sad);
}
