@import url("https://use.typekit.net/ljf0uzg.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: var(--purple-zen);
}

h1, h2, h3, h4{
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.4rem;
  margin-bottom: 1rem; 
}
h3{
  font-size: 1.1rem;
}
.button-face{
  max-width: 6rem;
}

main{
  flex: 1;
}

:root{
  --purple-zen: #6169BC;
  --red-angry: #E53833;
  --purple-disgust: #7D3C99;
  --blue-sad: #417ABD;
  --blue-surprise: #85EDE3;
  --green-fear: #5BC491;
  --green-trust: #CEFFAE;
  --yellow-joy: #FCED23;
  --orange-anticipation: #F97F12;
}

.bg-zen{
  background-color: var(--purple-zen);
}
.bg-red{
  background-color: var(--red-angry);
}
.bg-purple{
  background-color: var(--purple-disgust);
}
.bg-blue{
  background-color: var(--blue-sad);
}
.bg-light-green{
  background-color: #D9FFCE99;
}
.bg-yellow{
  background-color: #FEF6A0;
}

.btn{
  display: flex;
  justify-content: center;
  background-color: #9753B8;
  color: white;
  width: fit-content;
  border-radius: 1rem;
  padding: 1rem 1rem;
}

.footer-curve{
  background: url('../../public/graphics/curve-green.svg');
  background-size: contain;
}
