.card {
    width: 15rem;
    height: 16rem;
    perspective: 1000px;
    transition: transform 0.5s;
    cursor: pointer;
    font-weight: 400;
    line-height: 116%;
    box-shadow: 4px 5px 18px 0px rgba(47, 1, 71, 0.48);
  }
  
  .cardInner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .flipped .cardInner {
    transform: rotateY(180deg);
  }
  .flipped{
    background-color: var(--purple-zen);
    color: white;
  }
  
  .cardFront,
  .cardBack {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateX(0deg);
  }
  
  .cardFront {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .cardBack {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    transform: rotateY(180deg);
    flex-direction: column;
    font-weight: 400;
  }
  .cardBack ul{
    list-style: disc;
    padding-left: 2rem;
  }

  .cardFront img{
    width: 3rem;
    height: auto;
  }

  .blueBox h3{
    color: #D9FFCE;
    margin-bottom: 1rem;
  }
  .blueBox img:first-of-type{
    top: -2.5rem;
    left: -3rem;
  }
  .blueBox img:last-of-type{
    bottom: -3.5rem;
    right: -2.5rem;
  }
  .blueBox img{
    position: absolute;
    width: 8rem;
  }
  .blueBox{
    max-width: 770px;
    padding: 3rem;
    border-radius: 3rem;
    margin: 5rem auto;
    position: relative;
  }

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background: #00000099;
  }


  .face{
    max-width: 8rem;
  }
  .face:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }


  @media (min-width: 1024px) {
    .card {
      width: 23.625rem;
      height: 26rem
    }
    .cardFront img{
      width: 8rem;
    }
    .curve img{
      bottom: -0.5rem;
    }
    .blueBox img{
      width: max-content;
    }
    .face{
      max-width: max-content;
    }

    
  }